<p style="color: green"><%= notice %></p>
<%= link_to "New tweet", new_tweet_path %>
<%# <%= form_with url: tweets_path, method: :get do |form| %>
<%# <%= form.text_field :query_text, placeholder: t('Query text'), value:params[:query_text]%>
<%# <% end %>
<h1>Tweets</h1>
<div id="tweets" class="row row-cols-1 row-cols-md-4 g-4">
  <% @tweets.each do |tweet| %>
  <div class="col">
    <div class="card" style="height: 15rem;">
      <div class="card-body">
        <h5 class="card-title">User:<%= link_to tweet do %><%= tweet.username %></h5>
      <% end %>  
        <p class="card-text"><%= truncate(tweet.description, length:150) %></p>
        <%= link_to "ver tweet", tweet, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%# Paginación %>
<% link = pagy_link_proc(@pagy, link_extra: 'class="page-link"') -%>
<%#                            -%><nav class="pagy-bootstrap-nav" role="navigation">
<%#                            -%>  <ul class="pagination">
<% if @pagy.prev                -%>    <li class="page-item prev"><%== link.call(@pagy.prev, pagy_t('pagy.nav.prev'), 'aria-label="previous"') %></li>
<% else                        -%>    <li class="page-item prev disabled"><a href="#" class="page-link"><%== pagy_t('pagy.nav.prev') %></a></li>
<% end                         -%>
<% @pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
<%   if    item.is_a?(Integer) -%>    <li class="page-item"><%== link.call(item) %></li>
<%   elsif item.is_a?(String)  -%>    <li class="page-item active"><%== link.call(item) %></li>
<%   elsif item == :gap        -%>    <li class="page-item disabled gap"><a href="#" class="page-link"><%== pagy_t('pagy.nav.gap') %></a></li>
<%   end                       -%>
<% end                         -%>
<% if @pagy.next                -%>    <li class="page-item next"><%== link.call(@pagy.next, pagy_t('pagy.nav.next'), 'aria-label="next"') %></li>
<% else                        -%>    <li class="page-item next disabled"><a href="#" class="page-link"><%== pagy_t('pagy.nav.next') %></a></li>
<% end                         -%>
<%#                            -%>  </ul>
<%#                            -%></nav>
<%# <%= link_to "New tweet", new_tweet_path %>